{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "property.index"}}{{property.name}}{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item}}{{#link-to "property.queries.index"}}Queries{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{model.name}}{{/crumbs.item}}
{{/nav-breadcrumbs}}


<div class="card model-form">
  <div class="card-header"></div>
  <div class="card-body">
    <h4 class="card-title mb-0">Criteria</h4>
    {{#each model.criteria as |criteria index|}}
      <ul class="list-group mt-3">
        <li class="list-group-item text-primary font-weight-bold h5 d-flex justify-content-between align-items-center">
          Group: {{criteria.type}}
          <span class="badge badge-info badge-pill">{{criteria.items.length}}</span>
        </li>
        {{#each criteria.items as |item|}}
          <li class="list-group-item">
            <span class="font-weight-bold">{{item.name}}</span> <span class="text-muted">[{{item.id}}]</span>
          </li>
        {{/each}}
      </ul>
    {{/each}}
  </div>
  <div class="card-footer d-flex justify-content-between">
    {{test-query-button model=model}}

    <div class="btn-group pr-0">
      <div class="btn btn-success" disabled={{loadingDisplay.isShowing}}>{{entypo-icon "pencil"}} Edit</div>
    </div>
  </div>
</div>
