<button disabled={{disabled}} class="btn btn-primary dropdown-toggle" type="button" id="query.date-type.dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  {{#if selectedType}}Date Type: {{selectedType.label}}{{else}}Select Date Type{{/if}}
</button>
<div class="dropdown-menu" aria-labelledby="query.date-type.dropdown">
  {{#each filteredDateTypes as |type|}}
    <a class="dropdown-item" href="javascript:void(0);" {{action "setType" type.key}}>{{type.label}}</a>
  {{/each}}
</div>
