{{#link-to "properties.edit" model.id class="list-group-item list-group-item-action flex-column align-items-start"}}
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{model.name}}</h5>
    {{#if model.updatedAt}}
      <small class="d-block" title="{{moment-format model.updatedAt 'MMM Do, YYYY h:mm a'}}">
        {{entypo-icon "clock"}} Updated {{moment-from-now model.updatedAt}}
      </small>
    {{/if}}
  </div>

  <p class="mb-1">Base {{model.baseVersion}} ({{model.userSource}})</p>
  <small class="d-block">{{model.key}}</small>
  <small class="d-block">ID: {{model.id}}</small>
{{/link-to}}
