<div class="card-header" id="heading{{index}}">

  <a class="font-weight-bold" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse{{index}}" aria-expanded="true" aria-controls="collapse{{index}}">
    Set {{number}}{{#if model.type}}: {{model.type}}{{/if}}
  </a>
</div>

{{criteria-builder/fields
  id=(concat "collapse" index)
  model=model
  propertyKey=propertyKey
  types=types
  aria-labelledby=(concat "heading" index)
  data-parent="#criteria-builder"
}}
